* {
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	font-family: 'pacifico', arial, sans-serif;
}
.title {
	margin: 0 0 0;
	text-align: center;
}
.title h4 {
	font-size: 1.8em;
}
.slideshow {
    border: 0px solid #fff;
    border: 0px solid rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin: 8.4em auto 0;
    max-width: 1520px;
    min-width: 260px;
    position: relative;
    width: 100%;
}
.content {
    background: none repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.parallax-bg {
    background: none repeat scroll 0 0;
    background-size: cover;
    opacity: .1;
    filter: alpha(opacity=10);
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.slideshow input {
    bottom: 15px;
    cursor: pointer;
    height: 9px;
    left: 50%;
    opacity: 0;
    position: absolute;
    width: 9px;
    z-index: 1001;
}
.slideshow input + label {
    border: 3px solid #000;
    border: 3px solid rgba(0,0,0,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 15px;
    display: block;
    height: 6px;
    left: 50%;
    position: absolute;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
    width: 6px;
    z-index: 1000;
}
.slideshow input:checked + label {
    background-color: #fff;
    background-color: rgba(0,0,0,1);
}
.selector-1, .button-label-1 {
    margin-left: -36px;
}
.selector-2, .button-label-2 {
    margin-left: -18px;
}
.selector-4, .button-label-4 {
    margin-left: 18px;
}
.selector-5, .button-label-5 {
    margin-left: 36px;
}
.arrow {
    background: transparent url('https://vulchivijay.files.wordpress.com/2015/01/arrows.png') no-repeat;
    cursor: pointer;
    display: none;
    height: 38px;
    margin-top: -19px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
    width: 28px;
    z-index: 1000;
}
.arrow:hover{
    //background: transparent url(https://vulchivijay.files.wordpress.com/2015/01/arrows-hover.png) no-repeat;
    opacity: 1;
}
.arrow:active{
    margin-top: -18px;
}
.selector-1:checked ~ .arrow.a2,
.selector-2:checked ~ .arrow.a3,
.selector-3:checked ~ .arrow.a4,
.selector-4:checked ~ .arrow.a5 {
    background-position: top right;
    display: block;
    right: 15px;
}
.selector-2:checked ~ .arrow.a1,
.selector-3:checked ~ .arrow.a2,
.selector-4:checked ~ .arrow.a3,
.selector-5:checked ~ .arrow.a4 {
	background-position: top left;
	display: block;
	left: 15px;
}
.slideshow input:checked ~ .content {
    background-color: #fff;
	-webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
	-moz-transition: background-position linear 0.6s, background-color linear 0.8s;
	transition: background-position linear 0.6s, background-color linear 0.8s;
}
.slideshow input:checked ~ .content .parallax-bg {
	-webkit-transition: background-position linear 0.7s;
	-moz-transition: background-position linear 0.7s;
	transition: background-position linear 0.7s;
}
input.selector-1:checked ~ .content {
    background-position: 0 0;
}
input.selector-2:checked ~ .content {
    background-position: -100px 0;
}
input.selector-3:checked ~ .content {
    background-position: -200px 0;
}
input.selector-4:checked ~ .content {
    background-position: -300px 0;
}
input.selector-5:checked ~ .content {
    background-position: -400px 0;
}
input.selector-1:checked ~ .content .parallax-bg {
	background-position: 0 0;
}
input.selector-2:checked ~ .content .parallax-bg {
	background-position: -200px 0;
}
input.selector-3:checked ~ .content .parallax-bg {
	background-position: -400px 0;
}
input.selector-4:checked ~ .content .parallax-bg {
	background-position: -600px 0;
}
input.selector-5:checked ~ .content .parallax-bg {
    background-position: -800px 0;
}
.slider {
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s;
    width: 500%;
}
.slider > li {
    box-sizing: border-box;
    color: #fff;
    display: table;
    float: left;
    height: 100%;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s;
    width: 20%;
}
.slider > li img {
    box-sizing: border-box;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
input.selector-1:checked ~ .content .slider {
    left: 0;
}
input.selector-2:checked ~ .content .slider {
    left: -100%;
}
input.selector-3:checked ~ .content .slider {
    left: -200%;
}
input.selector-4:checked ~ .content .slider {
    left: -300%;
}
input.selector-5:checked ~ .content .slider {
    left: -400%;
}
input.selector-1:checked ~ .content .slider > li:first-child,
input.selector-2:checked ~ .content .slider > li:nth-child(2),
input.selector-3:checked ~ .content .slider > li:nth-child(3),
input.selector-4:checked ~ .content .slider > li:nth-child(4),
input.selector-5:checked ~ .content .slider > li:nth-child(5){
    opacity: 1;
}
.slider > li > div {
    display: table-cell;
    padding: 40px 60px;
}
.slider > li > div > figure {
	display: inline-block;
	width: 40%;
}
p {
	color: #444;
	display: inline-block;
	font-size: 1.8em;
	vertical-align: middle;
	width: 59%;
}
/* media query*/
@media only screen and (max-width: 680px) {
    
    p {
        font-size: 1em;
        width: 50%;
    }

    .title {
        margin: 0 0 0;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

}

/* media query*/
@media only screen and  (min-width: 768px) {
    .slider {
        display: block;
    }.slideshow {
        margin: 126px auto 0;
        height: 400px;
    }
}

/* media query*/
@media only screen and  (max-width: 600px) and (min-width: 320px){
    .slider {
        display: none;
    }.slideshow {
        display: none;
    }
}