/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/*.sign-in-section .card .card-block,
	.sign-in-section .card .card-footer {
		padding-left: 0;
		padding-right: 0;
	}
	.sign-in-section .card:nth-child(1) .card-footer,
	.sign-in-section .card:nth-child(2) .card-block,
	.sign-in-section .card:nth-child(3) .card-footer {
		padding-bottom: 1.25rem!important;
	}*/
	.inside-wrapper {
    	padding: 0;
	}

	.container-fluid .sidebar {
		padding-right: 15px!important;
	}
	.container-fluid .right {
		padding-left: 15px!important;
	}

	/* guest-login */
	.guest-login .inside-wrapper {
    	padding: inherit;
	}
	.guest-login .left-side h3 {
	    font-size: 36px;
	}
	.guest-login .left-side p {
	    padding-bottom: 0;
	}
	.guest-login .right-side {
	    border-width: 0 1px 1px 1px;
	}

	.market .left-side {
		margin-top: 1rem;
	}
	.market .right-side {
		display: none;
	}
	.market .left-side p {
		padding: 10px 0 10px 0;
	}
	.filters-container .btn-group {
		display: none;
	}


	/*------------------------
	  ITEM SPECIFICATION VIEW
	--------------------------*/
	.item-view .nav-tabs a.nav-link h6 {
	    margin: 0;
	    font-size: 10px;
	}
	.item-view .nav-tabs a.nav-link {
	    padding: 0.5em 0.5em;
        height: 100%;
	}
	.item-view .tab-content {
	    padding: 1.5rem 1rem;
	}
	.tab-content > .tab-pane.reviews {
		padding: 0!important;
	}
	.item-view ul.pgwSlider>li img, .item-view .pgwSlider>ul>li img {
		margin: 0 auto!important;
	}
	.comments-list .comment-box {
		width: 70%;		
	}
	.item-view .btn-share {
        margin-bottom: 1rem!important;
    	width: 100%;
	}
	.item-view .save-price {
		font-size: inherit;
	}
	.item-view .price {
	    font-size: large;
	}
	.item-view .saving-center .price-box {
		border: none;
	}
	.item-view .saving-center .deal-progress .progress {
		margin-bottom: 1rem!important;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.sidebar .side-menu .head {
		font-size: inherit;
	}
	ul.mtree.transit {
	    padding: 0.5em;
	}
	ul.mtree li.mtree-node > a {
	    padding: 5px 10px 5px 0.5em;
	}
	ul.mtree.transit li.mtree-node > a:before {
		right: 2px!important;
	}
	.section-title {
		font-size: inherit;
	}
	.sidebar .sidebar-module-container .sidebar-widget .widget-header .widget-title {
		font-size: inherit;
	}
	.market .left-side h3 {
	    font-size: 30px;
	}
	.market .left-side p {
	    padding: 10px 0 20px 0;
	}	
	#products .card .details h6 {
    	font-size: inherit;
    	margin-right: 50px;
	}
	#products .card.text-center .details h6 {
		margin-right: 0;
	}
	#products .card .details .desc {
		font-size: inherit;
	}
	#products .card .details {
	    padding: 20px 15px 20px;
	}
	.arrow_box_left {
		padding-left: 20px!important;
	}
	#products .card .cd-customization .add-cart {
	    width: 80px;
	}


	/*------------------------
	  ITEM SPECIFICATION VIEW
	--------------------------*/
	.item-view ul.pgwSlider>li img, .item-view .pgwSlider>ul>li img {
		margin: 0 auto!important;
	}
	.item-view .item-name {
		margin-top: 0.5rem;
	}
	.item-view .price {
		margin-top: 0.3rem;
	}
	.item-view .btn-share {
        margin-bottom: 1rem!important;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/*------------------------
	  ITEM SPECIFICATION VIEW
	--------------------------*/
	.item-view .saving-center .price {
		font-size: large;
	    margin-top: 1rem;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.filters-container .pagination {
		margin-top: 1rem;
	}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}