/* =============================================
----------------- Responsive  ------------------
==============================================*/

/* Large desktop */
@media (min-width: 1200px) {	
	
	#product-image-carousel-container  {
		width:92px;
		/*width:104.5px;*/
		margin-right:20px;
	}
	
	#product-image-container {
		/*width:450px;*/
		width:404px;
	}
	
	#product-image-container .item-price-container {
		width:135px;
		height:135px;
		font-size:27px;

	}
	
	#product-image-container .item-price-container .old-price {
		margin-top:37.5px;
	}

	#product-image-container .item-price-container .item-price{
		margin-top:52.5px;
	}
}
 
 /* fix for arrows position*/
@media (min-width:980px) and (max-width:1199px) {

	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
	
	#product-image-carousel-container  {
		width:128px;
		margin-right:22px;
	}
	
	#product-image-container {
		/* width:100%; */
		width: calc(100% - 150px);
	}
	
	#product-image-container .item-price-container {
		width:162px;
		height:162px;
		font-size:27px;

	}
	
	#product-image-container .item-price-container .old-price {
		margin-top:51px;
	}

	#product-image-container .item-price-container .item-price{
		margin-top:66px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
 	
	
	#product-image-carousel-container  {
		width:84px;
		margin-right:16px;
	}
	
	#product-image-container {
		width:380px;
	}
	
}

 
/* Landscape phones and down */
@media (max-width: 480px) {

	
	#product-image-carousel-container  {
		width:54px;
		margin-right:16px;
	}
	
	#product-image-container {
		width:220px;
	}
	
	#product-image-container .item-price-container {
		width:90px;
		height:90px;
		font-size:23px;
		line-height:20px;
	}
	
	#product-image-container .item-price-container .old-price {
		margin-top:25px;
	}

	#product-image-container .item-price-container .item-price{
		margin-top:35px;
	}

}

@media (max-width: 300px) {

}


/* Retina Display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}